{{- $anyCollectorEnabled := false }}
{{- range $attributes := .Values.nodes }}
{{- if $attributes.enabled }}
{{- $collectorConfig := $attributes.otelCollector | default $.Values.otelCollector }}
{{- if $collectorConfig.enabled }}
{{- $anyCollectorEnabled = true }}
{{- end }}
{{- end }}
{{- end }}
{{- if or .Values.serviceMonitor.enabled $anyCollectorEnabled }}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: amaru-service-monitor
  labels:
    app: amaru
    app.kubernetes.io/name: amaru
    app.kubernetes.io/component: monitoring
    app.kubernetes.io/instance: {{ .Release.Name }}
    release: kube-prometheus-stack
spec:
  endpoints:
    - path: /metrics
      {{- if $anyCollectorEnabled }}
      port: otel-prom
      {{- else }}
      port: prom
      {{- end }}
      relabelings:
        - sourceLabels: [__meta_kubernetes_service_label_app_kubernetes_io_name]
          targetLabel: job
          replacement: amaru
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  selector:
    matchLabels:
      app.kubernetes.io/name: amaru
{{- end }}
