{{- $anyCollectorEnabled := false }}
{{- range $attributes := .Values.nodes }}
{{- if $attributes.enabled }}
{{- $collectorConfig := $attributes.otelCollector | default $.Values.otelCollector }}
{{- if $collectorConfig.enabled }}
{{- $anyCollectorEnabled = true }}
{{- end }}
{{- end }}
{{- end }}
{{- if or .Values.serviceMonitor.enabled $anyCollectorEnabled }}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: amaru-service-monitor
  labels:
    release: kube-prometheus-stack
spec:
  endpoints:
    - path: /metrics
      {{- if $anyCollectorEnabled }}
      port: otel-prom
      {{- else }}
      port: prom
      {{- end }}
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  selector:
    matchLabels:
      app: amaru
{{- end }}
